<nav>
    <img id='logo' src="/static/image/timg.jpg" alt="网站logo">
    <a href="#">首页&nbsp;&nbsp;</a>
    <a href="/article/hot/">热门文章&nbsp;&nbsp;</a>
    <a href="/question/hot/">热门提问&nbsp;&nbsp;</a>
    {% if username %}
        <a href="#">你好,{{ username }}!&nbsp;&nbsp;</a>
        <a href="/article/">我的博客&nbsp;</a>
        <a href="/article/write/">写博客&nbsp;</a>
        <a href="/question/create/">我的提问&nbsp;</a>
        <a href="/question/alter/">创建提问&nbsp;</a>
        <a href="/user">我的资料&nbsp;</a>
        <a href="/user/logout">退出登录&nbsp;</a>
    {% else %}
        <a href="/user/login">登录&nbsp;</a>
        <a href="/user/register">注册&nbsp;</a>
    {% endif %}
</nav>