<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}通用配置{% endblock %}</title>
    <script type="text/javascript" src="/static/js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="/static/bootstrap-3.3.7/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/base.css">
    {% block head_ %}{% endblock %}
</head>
<body bgcolor="#5cecff">
<div id="head_nav">
    {% include 'base/base_head.html' %}
</div>


<div id="left_nav">
    {% include 'base/base_left.html' %}
    {% block left_nav %}
        <p>这是左侧导航栏</p>
    {% endblock %}
</div>
<div id="main_body">
    {% block main_body %}
        <p>主要内容填充区域</p>
    {% endblock %}
</div>
<div id="right_nav">
    {% include 'base/base_right.html' %}
    {% block right_nav %}
        <p>这是右侧导航栏</p>
    {% endblock %}
</div>

</body>
</html>