<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>响应式布局</title>
</head>
<body>
<h1>自适应图片</h1>
<img src="/static/image/2096723084f0ad8784bedc58f039a293.jpeg" alt="尝试设置自适应"
     srcset="/static/image/c0a054d72dddb1df0d22f0bd2956a112.jpeg 500w ,
            /static/image/2096723084f0ad8784bedc58f039a293.jpeg 800w,
            /static/image/ca905f2d53a18949c18596c0feb606d5.jpeg 1000w"
        {#     sizes="(max-width:500w) 500w ,1000w "#}
>

{#<picture>#}
{#    <source srcset="/static/image/2096723084f0ad8784bedc58f039a293.jpeg" media="(max-width:1000px)">#}
{#    <img src="/static/image/c0a054d72dddb1df0d22f0bd2956a112.jpeg" alt="默认">#}
{#</picture>#}
</body>
</html>