<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>博客说明网页</title>
    <script type="text/javascript" src="/static/js/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="/static/css/introduce.css">
</head>
<body>
<h1>这是一个博客网页</h1>
<p>目的在于分享我的所见所闻给大家</p>
<ul>
    <li>我的兴趣</li>
    <li>我喜欢的</li>
    <li>我讨厌的</li>
</ul>
<img src="/static/image/791e1a3aff021817b4028b1d91b92f80.jpeg" alt="一张图片">
<button>切换用户</button>
<script type="text/javascript" src="/static/js/introduce.js"></script>
</body>
</html>