<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
        }

        .nav {
            height: 50px;
            background: #00caf2;
        }

        .content {
            flex-grow: 1;
            background: #1c9e43;
        }
    </style>
</head>
<body>
<div class="nav"></div>
<div class="content">https://caniuse.com/#search=flex</div>
</body>
</html>