<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>

    </script>
</head>
<body>
<div class="box">
    <div class="box-top">
        <div class="box-top-left">a</div>
        <div class="box-top-right">b</div>
    </div>
    <div class="box-center">
        <div class="box-center-left">c</div>
        <div class="box-center-right">
            <table class="center-box">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

</div>
</body>
</html>