* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100%;
    width: 100%;
    background: #b1e2ff;
}

/*头部导航*/
#head_nav {
    height: 50px;
    width: 100%;
    /*background: #ffffff;*/
}

/*左侧导航*/
#left_nav {
    height: 800px;
    width: 20%;
    /*background: #5cecff;*/
    float: left;
}

/*主题部分*/
#main_body {
    height: 800px;
    width: 60%;
    /*background: #fdffd4;*/
    float: left;
}

/*右侧导航*/
#right_nav {
    height: 800px;
    width: 20%;
    /*background: #87dedd;*/
    float: left;
}
/*底部导航栏*/
#foot_nav{
    height:119px;
    width: 100%;
    /*background: #ff6bad;*/
    float: left;
}